<nav class="navbar bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand home" [routerLink]="['/']">
      <div class="d-flex">
      <img src="/assets/logo.png" alt="Logo" width="50" height="44" class="d-inline-block align-text-top">
      <p>OPENSCOP</p>
      </div>
    </div>
    <div class="navbar-brand">
      <div class="d-flex">
        <a href="https://openscop.group/discover" target="_blank"><img src="/assets/taiga.png" alt="Logo" width="34" height="34" class="d-inline-block align-text-top tg"></a>
      </div>
    </div>
  </div>
</nav>
